* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter", sans-serif;
}

/* common css start */
.btn {
    background-color: #469165;
    font-weight: 500;
    color: #fff;
    padding: 10px 14px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 1px -1 5px #469165;
}

.container {
    width: 82%;
    display: flex;
}


/* common css end */

/* header section start */

/* nav bar */
nav {
    margin: 10px auto;
    justify-content: space-between;
    align-items: center;

}

nav .nav-logo img {
    width: 100%;
}

nav .nav-list ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 1.7em;
}

nav .nav-list ul a {
    text-decoration: none;
    color: black;
    font-weight: 500;
    font-size: 0.9em;
}

/* end nav bar */


/* banner section */
.banner-section {

    background-image: url("images/hero-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    text-align: center;

}

section .banner-section {
    padding: 9.3% 0;
}

section .banner-section .para1 {
    background-color: white;
    color: #469165;
    font-weight: 500;
    margin: auto;
    width: 210px;
    border-radius: 30px;
    padding: 5px 3px;
}

section .banner-section .para1 img {
    vertical-align: middle;
    margin-right: 5px;
}

section .banner-section .heading-one {
    font-size: 3.5em;
    font-weight: bold;
    margin: 12px 0 0px 0;
    color: #fff;

}

section .banner-section .heading-two {
    font-size: 4em;
    color: #30B868;
    font-weight: bold;
    margin-bottom: 15px;
}

section .banner-section .para {
    color: #fff;
    margin-bottom: 12px;
}

section .banner-section .para3 {
    margin-bottom: 25px;
}

section .banner-section .banner-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.3em;
}

section .banner-section .banner-button .one img {
    width: 100%;
    max-width: 0.8rem;
    vertical-align: text-bottom;
    margin: 0 0 0 0.2em;
}

section .banner-section .banner-button .two img {
    width: 100%;
    max-width: 0.8rem;
    vertical-align: text-bottom;
    margin: 0 0.6em 0 0;
}

section .banner-section .another-btn {
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 14px;
    border-radius: 5px;
    margin-left: 7px;
    cursor: pointer;
}

section .banner-section .another-btn img {}

/* end banner section */

/* header section end */


/* main section start */
/* note section start */
.note-section {
    padding: 3.5% 0 0 0;
    background-color: #e1e0e025;
}

.note-section .note-heading {
    text-align: center;
}

.note-section .note-heading h1 {
    font-size: 3em;
    font-weight: bold;
    color: #001931;
}

.note-section .note-heading p {
    color: #627382;
    margin-top: 0.8em;
}

.note-section #cards {
    justify-content: space-between;
    margin: 2.5em auto;
    gap: 1.5em;
}

.note-section #cards .card {
    padding: 2.5em 0.8em 1.3em;
    text-align: center;
    background-color: #ffffff;
    box-shadow: 0 -2px 3px rgb(238, 238, 238);
    border-radius: 0.5em;
}

.note-section #cards .card .image {
    width: 100%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F95555;
    border-radius: 50%;
    margin: 0.9em auto;

}

.note-section #cards .card .image img {
    width: 1.7em;
}

.note-section #cards .card h3 {
    color: #001931;
    font-size: 1.4em;
    font-weight: 600;
    margin: 0.8em 0;
}

.note-section #cards .card p {
    color: #627382;
    line-height: 1.3em;
}

/* note section end */
/* brain-section start  */
.brain-section {
    margin: 5.5em auto;
    gap: 5%;
}

.brain-section .image {
    width: 45%;
}

.brain-section .image img {
    width: 100%;
}

.brain-section .section-massage {
    width: 45%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.brain-section .section-massage h4 {
    color: #469165;
    font-size: 0.85em;
    font-weight: 500;
    text-transform: uppercase;
    margin-bottom: 0.8em;
}

.brain-section .section-massage h1 {
    color: #001931;
    font-size: 2.8em;
    font-weight: bold;

}

.brain-section .section-massage p {
    color: #627382;
    font-size: 0.9em;
    margin: 1.4em 0;
}

.brain-section .section-massage ul {
    list-style: none;
    line-height: 2em;
    color: #001931;
    font-weight: 500;
}

.brain-section .section-massage ul img {
    width: 100%;
    max-width: 1em;
    vertical-align: text-bottom;
    margin-right: 0.35em;
}

/* brain-section end */

/* challenge start */
.challenge {
    background-color: #F7F6F2;
    margin: 5.5em auto;
    border-radius: 0.7em;
    padding: 4em 0;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.challenge h1 {
    color: #001931;
    font-size: 2.4em;
    font-weight: bold;
}

.challenge p {
    width: 53%;
    color: #627382;
    line-height: 24px;
    text-align: center;
    margin: 0.8em 0;
}

.challenge .btn img {
    vertical-align: middle;
    margin-left: 0.3em;
}

/* challenge end */

/* main section end*/

/* footer section start */

footer {
    background-color: #001931;
    color: #fffdfd;
}

.footer-start {
    padding: 5em 0;
    margin: auto;
    justify-content: space-between;
    border-bottom: 1px solid #fffdfd25;
}

.footer-start .footer-image img {
    vertical-align: middle;
}

.footer-start .icons p {
    font-size: 1.1em;
    margin-bottom: 0.9em;
}

.footer-start .icons .icon img {
    margin-right: 0.8em;
    width: 100%;
    max-width: 1em;
    cursor: pointer;
}

.footer-end p {
    text-align: center;
    padding: 2em 0;
    font-size: 0.85em;
}

/* footer section end */